# Visualisation of air quality time series

### imports

In [8]:
from dateutil.parser import parse 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from datetime import datetime

plt.rcParams.update({'figure.figsize': (10, 7)})

## Import data

In [19]:
data = pd.read_csv("..\data\AirQualityUCI.csv", delimiter=";", parse_dates=["Date"], index_col="Date")
data.head()

,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date,,,,,,,,,,,,,,
2004-10-03,18.00.00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578"
2004-10-03,19.00.00,2,1292,112,"9,4",955,103,1174,92,1559,972,"13,3","47,7","0,7255"
2004-10-03,20.00.00,"2,2",1402,88,"9,0",939,131,1140,114,1555,1074,"11,9","54,0","0,7502"
2004-10-03,21.00.00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,"11,0","60,0","0,7867"
2004-10-03,22.00.00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888"

## Merge date and time as datetime

In [20]:
print("'Time' datatype:", type(data.Time[0]))
print("'Date' datatype:", type(data.index[0]))

data['Time'] = data['Time'].apply(lambda x: datetime.strptime(x, '%H.%M.%S'))
print("'Time' datatype:", type(data.Time[0]))

'Time' datatype: <class 'str'>
'Date' datatype: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
'Time' datatype: <class 'pandas._libs.tslibs.timestamps.Timestamp'>