# Visualisation of air quality time series

### imports

In [8]:
from dateutil.parser import parse 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from datetime import datetime

plt.rcParams.update({'figure.figsize': (10, 7)})

## Import data

In [30]:
data = pd.read_csv("..\data\AirQualityUCI.csv", delimiter=";", parse_dates=[["Date", "Time"]])
data.head()

,Date_Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004 18.00.00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578"
1,10/03/2004 19.00.00,2,1292,112,"9,4",955,103,1174,92,1559,972,"13,3","47,7","0,7255"
2,10/03/2004 20.00.00,"2,2",1402,88,"9,0",939,131,1140,114,1555,1074,"11,9","54,0","0,7502"
3,10/03/2004 21.00.00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,"11,0","60,0","0,7867"
4,10/03/2004 22.00.00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888"

## Make Date_Time to Timestamp

In [33]:
print("'Date' datatype:", type(data.Date_Time[0]))

data.Date_Time = data.Date_Time.apply(lambda x: datetime.strptime(x, '%d/%m/%Y %H.%M.%S'))

print("'date_time' datatype:", type(data.Date_Time[0]))

'date_time' datatype: <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [34]:
# update index
data.set_index("Date_Time")

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date_Time,,,,,,,,,,,,,
2004-03-10 18:00:00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578"
2004-03-10 19:00:00,2,1292,112,"9,4",955,103,1174,92,1559,972,"13,3","47,7","0,7255"
2004-03-10 20:00:00,"2,2",1402,88,"9,0",939,131,1140,114,1555,1074,"11,9","54,0","0,7502"
2004-03-10 21:00:00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,"11,0","60,0","0,7867"
2004-03-10 22:00:00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-04-04 10:00:00,"3,1",1314,-200,"13,5",1101,472,539,190,1374,1729,"21,9","29,3","0,7568"
2005-04-04 11:00:00,"2,4",1163,-200,"11,4",1027,353,604,179,1264,1269,"24,3","23,7","0,7119"
2005-04-04 12:00:00,"2,4",1142,-200,"12,4",1063,293,603,175,1241,1092,"26,9","18,3","0,6406"
2005-04-04 13:00:00,"2,1",1003,-200,"9,5",961,235,702,156,1041,770,"28,3","13,5","0,5139"
2005-04-04 14:00:00,"2,2",1071,-200,"11,9",1047,265,654,168,1129,816,"28,5","13,1","0,5028"

In [ ]:
plt